{% load static %}
<section>
    <div class="post-right-item">
        <h4 class="post-right-title">扫一扫，支持一下！</h4>
        <div class="wid-about">
            <p>微信</p>
            <img src="{% static "picture/weixin2.png" %}" width="160" height="160">
        </div>
        <div class="wid-about">
            <p>支付宝</p>
            <img src="{% static "picture/zhifubao.jpg" %}" width="160" height="160">
        </div>
        <div class="wid-about">
            <p><strong>联系方式:</strong></p>
            <p>QQ:1006325356</p>
            <p>Email：1006325356@qq.com</p>
        </div>
    </div>
</section>